.card {
    border-radius: 10px;
    max-width: 400px;
}

.card-text {
    text-align: left;
    overflow: hidden;
    height: 4.8em;
}

.card-body {
    padding-bottom: 30px;
}

.card-img-top {
    height: 15em;
    object-fit: cover;
}

.btn-primary {
    padding: 10px 30px;
}

.gridPad {
    padding: 10px;
}