input.form-control {
    font-size: 18px;
    padding: 26px 30px;
    font-family: 'Poppins';
    border-color: #CECECE;
    margin: 0;
}

.Panel-A {
    background-color: #FFF;
    padding: 2em;
    height: 100%;
}

.Panel-B {
    padding: 0;
    height: 100%;
}

form {
    padding: 0;
    margin: 0;
}

.form-group {
    padding: 0;
}